@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');
body{
    background-image: linear-gradient(rgba(85, 84, 128, 0.432), rgba(89, 91, 153, 0.438)), url("pic.jpg");
    font-family: 'Oswald', sans-serif;
    
}
* {
    box-sizing: border-box;
    align-items: center;
}
.container {
    margin: auto;
    width: 60%;
    padding: 16px;
    background-color: white;
    box-shadow: 20px 20px 20px 0px rgda(0,0,0,0.7);
    align-items: center;
  transform: translate(0%,20%);
  height:50%;

    

}
label {
    display: block;
    position: relative;
    margin-left: 30px;
  }
  label::before {
    content: ' \f00c';
    position: absolute;
    font-family: FontAwesome;
    background: transparent;
    border: 3px solid #302f49;
    border-radius: 4px;
    color: transparent;
    left: -30px;
    transition: all 0.2s linear;
  }
  
  label:hover::before {
    font-family: FontAwesome;
    content: ' \f00c';
    color: #fff;
    cursor: pointer;
    background: #302f49;
  }
  
  label:hover::before .text-checkbox {
    background: #302f49;
  }
  
  label span.text-checkbox {
    display: inline-block;
    height: auto;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;
  }
  
  label input[type="checkbox"] {
    display: none;
  }
  .box-form .right .remember-me--forget-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .box-form .right .remember-me--forget-password input {
    margin: 0;
    margin-right: 7px;
    width: auto;
  }
input[type='text'],
input[type='password']{
    width: 100%;
    padding:15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: whitesmoke; 
}
input[type='text'] :focus,
input[type='password']:focus{
    background-color:rgb(255, 255, 255);
    outline: 2px solid black;
    border-radius: 3px;
    background: whitesmoke;
}
.registerbtn{
       background-color:#302f49;
       color: white;
       padding: 16px;
       border:  none;
       cursor: pointer;
       width:49.5%;
       margin: auto;
       opacity: 0.8;
       align-content: center;

       
      
}
.registerbtn:hover{
      opacity:1;
      align-items: center;
}